/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



html            {font-size: 62.5%;}
 
@media screen and (min-width: 601px){
    
#page_container {max-width: 1024px;}

nav.clearfix, #mobile-nav, .logo-mobile, .spanish-mobile, #contactinfo, #con
                {display: none;} 

}



/*------Body------*/
#page_container {width: 100%;
                max-width: 1024px;
                margin: .9% auto;} 

body            {margin: auto;
                background-color: #45270a; 
                background: url(images/background1.jpg);         
                font-family: 'Noto Serif', serif;
                font-weight:normal;}

h2              {font-size: 36px; font-size: 3.6rem;
                color: #603813;
                font-weight: bold;}   

aside h3        {font-size: 24px; font-size: 2.4rem;
                color: #603813;
                font-weight: bold;
                padding-bottom: 15px;}                            

h5              {font-size: 16px; font-size: 1.6rem;
                color: #333333;
                padding-top: .9%;
                padding-left: 1.4%;
                float: left;}                                  

p               {font-family: 'Metrophobic', Arial, serif;
                line-height: 1.4em;
                font-size: 14px; font-size: 1.4rem;
                color: #333333;}

img             {max-width: 100%;
                height: auto;}               
                
                       
/*------Body------*/ 

/*------Header------*/                 
header          {background-position: center top;
                overflow: hidden;
                width: 100%;} 
                
header h1		{padding: 7.7% 0 1.9% 0;
                font-weight: bold;
				font-size: 45px; font-size: 4.5rem;
                color: #cccccc;
                line-height: .7;}  
				
header h1 span	{font-weight: bold;
				font-size: 18px; font-size: 1.8rem;
                color: #cccccc;} 				
			
header h4		{font-size: 12px; font-size: 1.2rem;
                color: #cccccc;}                   	

.logo           {float: left;
                max-width: 50%}

#logo           {width: 75.4%; /*grid-9 773px*/
                float: left;}

#head-info      {width: 23.5%; /*grid-3 214px*/
                float: right;}                            
              
#sociallinks  	{float: right;
                padding:11.6% 18.7% 4.6% 0;} 

.numbers a      {text-decoration: none;}                
				
.numbers h3		{font-size: 16px; font-size: 1.6rem;
                color: #cccccc;
                padding:0 0 7% 0;}
                
.numbers		{padding: 4.6% 14% 0 0;
				float: right;}                 
                
.spanish		{padding: 2.3% 0 0 49%;
				font-size: 18px; font-size: 1.8rem;
                color: #cccccc;}
                
.spanish a		{text-decoration: none;
                color: #cccccc;}                
				
				
/*------Header------*/                

/*------Nav------*/ 
nav             {width: 100%;
                float: left;
                padding: 1.4% 0;
                list-style: none;
                text-align: center;
                background: url(images/nav1.png);}
            
nav li          {display: inline;
                font-size: 20px; font-size: 2rem;
                position:relative;
                font-family: 'Noto Serif', serif;}         
        
nav a           {color:#603813;
                text-decoration:none;}
        
nav a:hover     {color:#4D4D4D;}
                    
nav ul li       {padding: 0 2.5%;
                float:none;}  
                                                           

.here           {color: #603813;
                font-weight: bold;}               
        
nav li:hover ul {left:0;}
        
nav li:hover ul a
                {text-decoration:none;}
    
nav li:hover ul li a:hover
                {color: #4D4D4D;}

.snav			{width: 100%;
                float: left;
                padding: 1.4% 0;
                list-style: none;
                text-align: center;
                background: url(images/nav1.png);}
            
.snav li        {display: inline;
                font-size: 20px; font-size: 2rem;
                position:relative;
                font-family: 'Noto Serif', serif;}         
        
.snav a         {color:#603813;
                text-decoration:none;}
        
.snav a:hover   {color:#4D4D4D;}
                    
.snav ul li     {padding: 0 2.2%;
                float:none;}  
                                                           

.shere          {color: #603813;
                font-weight: bold;}               
        
.snav li:hover ul
                {left:0;}
        
.snav li:hover ul a
                {text-decoration:none;}
    
.snav li:hover ul li a:hover
                {color: #4D4D4D;}   
               
                           
/*------Nav------*/ 

/*------Section------*/                                    
section         {width: 100%; /*1018px*/
                float: left;
                background-color: #DDD0B0;
                margin-bottom: 1.9%;
                padding-bottom: 2.9%;}               

/*------Section------*/

/*------Article------*/
.slideshow img  {border: 5px solid #603913;}

.slideshow      {width: 100%; /*1018px*/
                padding: 2.8% 3.3%;
                margin: 0% auto;}

.story1         {width: 49.1%; /*500px*/
                height: auto;
                float: left;}

.story1 img     {float: left;
                border: 4px solid #603913;
                margin:0 2% 0 6.6%;}   

.story1 p       {padding:0 2% 0 6.5%;}    

.story1 h3 {font-size: 28px; font-size: 2.8rem;
                color: #603813;
                font-weight: bold;}       

.story2         {width: 49.1%;
                height: auto;
                float: right;}

.story2 img     {float: left;
                margin:0 2% 0 0;
                border: 4px solid #603913;}

.story2 p       {padding:0 6.6% 0 0;}

.story2 h3 {font-size: 28px; font-size: 2.8rem;
                color: #603813;
                font-weight: bold;}    

/*---Bio page info---*/

#bio			{width: 34.1%; /*350px*/
				float: left;}
				
#bio img		{margin: 12.8% 0 5.7% 12.8%;
				 border: 4px solid #603913;
                 max-width: 85%}	
				 
#bio p			{margin:0 0 0 12.8%;
				font-weight: bold;
            font-family: 'Noto Serif', serif;}				 

#biocontent		{width: 63.4%; /*650px*/
				float: right;
				margin: 3.9% 0 0 0;}
				
#biocontent h2	{padding:0 0 2.3% 0;}				
				
#biocontent p	{padding: 0 6.9% 0 0;}

#biocontent img	{float: left;}

.certs          {width: 75%;}/*425px*/

.certs h2  {color: #603813;
                font-weight: bold;}    

.certs h2       {margin: 5% 0 0 0;}                 

.cpic           {float: left;
                height: 50px;
                font-weight: bold;
                padding: 2.5% 0 0 5.8%;}                 

.cpic1          {float: left;
                height: 50px;
                font-weight: bold;
                padding:0 0 0 3.4%;}                          

.certs img      {clear: both;
                padding:0 0 1% 0;}                                             


#left-links     {width: 24.5%; /*250px*/
                height: auto;
                float: left;
                padding: 5.4% 0 0 0;}

#left-links h3  {color: #4C4C4C;
                font-weight: bold;
                padding: 0 0 0 10%;
                font-size: 24px; font-size: 2.4rem;}   

#left-links ul  {font-size: 14px; font-size: 1.4rem;
                padding: 6% 10% 0 18%;
                color: #4C4C4C;
                line-height: 1.28em;}  

#left-links ul li 
                {padding: 0 0 4% 0;
                list-style: disc;} 

#left-links ul li a
                {text-decoration: none;
                color: #4C4C4C;}                 

#left-links span {font-weight: bold;}                                                          			
				

/*------IDX------*/

#idx		    {margin: 4.4% 0 0 4.4%;}


iframe          {padding: 2% 0 0 0;}

/*------IDX End------*/ 

/*------Article------*/ 

/*------Aside------*/
aside           {width:100%;
                padding: 0 0 2.4% 0;}
     
aside p span	{color: #8c6239;
				font-weight: bold;}
				
aside a 		{text-decoration: none;}

#right-content  {width: 75.1%; /*765px*/
                float: right;
                margin: 4.4% 0 0 0;}

#right-content ol
                {font-family: ‘Metrophobic’, Arial, serif;
                line-height: 1.28em;
                font-size: 14px; font-size: 1.4rem;
                color: #333333;
                padding: 0 5.8% 0 2.4%;
                list-style: decimal;}  

#right-content ol li 
                {padding: 1.3% 5.8% 0 0;}                    

#right-content ol li b 
                {font-weight: bold;
                font-size: 16px; font-size: 1.6rem;}


#right-content p {padding: .6% 5.8% 0 0;}    

#right-content img {max-width: 40%;
                border: 4px solid #603913;
                float: right;
                margin: .6% 7.1% 1.3% 1.3%;}  

#right-content p b 
                {font-weight: bold;} 
                
#right-content p a 
                {font-weight: bold;}                 

.qual           {padding: 0 0 0 1.3%;}


#testimonials h2  
                {margin: 4.4% 0 0 4.4%;}  

#testimonials p	{padding: .8% 14.3% .49% 24.8%;
                line-height: 1.4em;
                font-size: 15px; font-size: 1.5rem;}	

#testimonials p span  
                {
                padding: 0 0 0 .5%;}  

.testimg        {float: left;
                margin: 1.2% 0 0 5%;
                border: 4px solid #603913;}        

 hr             {width: 62%;
 				margin: 0 0 0 25%;}  /*825px*/   
 

/* ----------- My Form ----------- */

p, form, button {border:0; 
                margin:0; 
                padding:0;}

.spacer         {clear:both; 
                height:1px;}
/* ----------- My Form ----------- */
.myform         {font-size: 14px; font-size: 1.4rem;
                margin:0 auto;
                width:400px;
                padding:14px;}

/* ----------- stylized ----------- */

#stylized p     {color:#666666;
                margin:0 0 20px 0;
                border-bottom:solid 1px #b7ddf2;
                padding-bottom:10px;}

#stylized label {display:block;
                font-weight:bold;
                text-align:right;
                width:140px;
                float:left;}

#stylized .small{color:#666666;
                display:block;
                font-size:11px; font-size: 1.1rem;
                font-weight:normal;
                text-align:right;
                width:140px;}

#stylized input {float:left;
                font-size:12px; font-size: 1.2rem;
                padding:4px 2px;
                border:solid 1px #a67c52;
                width:200px;
                margin:2px 0 20px 10px;}

#stylized textarea
                {float:left;
                font-size:12px; font-size: 1.2rem;
                padding:4px 2px;
                border:solid 1px #a67c52;
                width:200px;
                margin:2px 0 20px 10px;}

#stylized .btna {margin-left:135px;
                width:100px;
                height:31px;
                background:#6e7e12;
                text-align:center;
                line-height:21px;
                color:#603813;
                font-size:11px;
                font-weight:bold;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                border-radius: 10px;}

#stylized .btn  {margin-left:30px;
                width:100px;
                height:31px;
                background:#6e7e12;
                text-align:center;
                line-height:21px;
                color:#603813;
                font-size:11px;
                font-weight:bold;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                border-radius: 10px;}
		
/*------Aside------*/

/*------footer------*/
footer          {width: 100%;
                margin: 0 0 .9% 0;
                text-align: center;
                background-color: #7b8527;}
        
footer ul li    {padding: 0 2.9% 0 2.9%;}

footer li       {display: inline;
                font-size: 12px; font-size: 1.2rem;
                position:relative;}  
                
footer a        {text-decoration: none;
                color:#603813;}   
                
footer p        {padding: 1.4% 0;
                color:#603813;}              


/*  MEDIA QUERIES RESPONSIVE */

@media screen and (max-width: 600px){

html            {font-size: 62.5%;}

#bottom-nav,
.logo,
header h4,
#head-info,
.main-nav, 
.snav,
#bio,
#left-links,
#right-content img,
.certs         {display: none;}  

#wrapper,
header,
#head-info,
#logo,
#contactinfo,
#biocontent,
section,
.slideshow,
.story1,
.story2,
.bio,
.biocontent,
.certs,
#left-links,
aside,
#right-content,
#testimonials,
footer          {width:100%;}



#wrapper        {width: 100%;
                max-width: 600px;
                margin: 0;}

h2              {font-size: 25px; font-size: 2.5rem;
                padding: 2% 0 5% 0;}

.logo-mobile 	{max-width: 30%;
                float: left;
            	padding-left: 3%;}

.spanish-mobile {padding: 2.3% 0 0 70%;
                font-size: 18px; font-size: 1.8rem;
                color: #cccccc;}
                
.spanish-mobile a      
                {text-decoration: none;
                color: #cccccc;}                             

header h1 	    {font-size: 28px; font-size: 2.8rem;
            	padding-top: 20%;}

header h1 span 	{font-size: 11px; font-size: 1.1rem;}

.menu-button    {float: left;}  

#menu-toggle, #return 
                {font-size: 20px; font-size: 1.8rem;}                 

nav ul li, nav, .snav ul li, .snav      
                {padding: 0}


.story1 img, .story2 img 
                {margin: 2.2% 2.2% 0 2.2%;} 

.story1 h3, .story2 h3 
                {font-size: 20px; font-size: 2.2rem;
                    padding: 2% 0 0 0;}                

.story1 p, .story2 p 
                {padding: 0 2% 0 2%;}                
 
 #biocontent, #right-content, #right-content p, #testimonials, #testimonials p 
                {padding: 0 2%;}               

#testimonials h2, #biocontent h2, 
                {padding: 2% 0 0 0;} 

.testimg        {display: none;}                   

#con            {clear: both;}                 

#contactinfo    {padding: 0 10% 0 30%;}

#contactinfo p  {font-family: 'Noto Serif', serif;
                font-weight: bold;
                padding: 0 0 1% 0;}

 hr             {width: 95%;}              
 
 #biocontent p, #right-content p, #testimonials p 
                {padding: 2% 0 0 2%;}
 
 #right-content ol
                {font-size: 14px; font-size: 1.4rem;
                padding-left: 8.2%;}  
               
#right-content ol li b 
                {font-size: 16px; font-size: 1.6rem;} 

#social         {padding: 2% 10% 0 30%;}   

#social a       {padding: 0 10% 0 0;}                                

footer p        {font-size: 12px; font-size: 1.2rem;}         
               




}


@media (max-width:750px) and (min-width:601px){


header h1       {font-size: 30px; font-size: 3rem;}  
                
header h1 span  {font-size: 12px; font-size: 1.2rem;} 

h2              {font-size: 26px; font-size: 2.6rem;}               
            
header h4       {font-size:10px; font-size: 1rem;}                    

.logo           {max-width: 42%}

#logo           {width: 75%; /*grid-9 773px*/}

#head-info      {width: 25%; /*grid-3 214px*/}                            
              
#sociallinks    {padding:5% 1% 3% 0;} 

#sociallinks img  {max-width: 40%}            
                
.numbers h3     {font-size: 11px; font-size: 1.1rem;}
                
.numbers        {padding: 4.6% 14% 0 0;}                 
                
.spanish        {padding: 4% 0 0 49%;
                font-size: 12px; font-size: 1.2rem;}
                          
nav li, .snav li
                {font-size: 16px; font-size: 1.6rem;}  

nav ul li, .snav ul li       
                {padding: 0 1%;}  

.story1 h3, .story2 h3           
                {font-size: 20px; font-size: 2rem;} 

.certs          {padding: 2% 0 0 0;
                width: 90%;}                  

h5              {font-size: 12px; font-size: 1.2rem;
                font-weight: bold;}

.cpic           {float: left;
                height: 40px;
                font-weight: bold;
                padding: 2.5% 0 0 5.8%;}                 

.cpic1          {float: left;
                height: 40px;
                font-weight: bold;
                padding:0 0 0 3.4%;}     

.row            {margin-right: 0px;}                                     

.testimg        {display: none;}   

#testimonials p  {width:100%;
                padding: 2%;}


}
@media (max-width:768px) and (min-width:750px){
.row            {margin-right: 0px;}                                     



}


@media (max-width:900px) and (min-width:751px){

header h1       {font-size: 35px; font-size: 3.5rem;
                padding: 10% 0 1.9% 0;}  
                 
                
header h1 span  {font-size: 14px; font-size: 1.4rem;} 

h2              {font-size: 30px; font-size: 3rem;}               
            
header h4       {font-size: 9px; font-size: .9rem;} 

#logo           {width: 75%; /*grid-9 773px*/}

#head-info      {width: 25%; /*grid-3 214px*/
                padding: 2% 0 0 0;}      
                                 
#sociallinks    {padding:5% 4% 3% 0;} 

#sociallinks img  {max-width: 40%}            
                
.numbers h3     {font-size: 14px; font-size: 1.4rem;}
                
.numbers        {padding: 4.6% 14% 0 0;}                 
                
.spanish        {padding: 4% 0 0 49%;
                font-size: 14px; font-size: 1.4rem;}
                          
nav li, .snav li
                {font-size: 20px; font-size: 2rem;}  

nav ul li, .snav ul li       
                {padding: 0 1.3%;}  

.story1 h3, .story2 h3           
                {font-size: 23px; font-size: 2.3rem;} 

.certs          {padding: 2% 0 0 0;
                width: 90%;}                  

h5              {font-size: 16px; font-size: 1.6rem;}

.testimg        {display: none;}   

#testimonials p  {width:100%;
                padding: 2%;}

}   




